
.font-size-xs *:not([class^="font-size-"]), .font-size-xs{
    font-size: 10px;
}
.font-size-sm *:not([class^="font-size-"]), .font-size-sm{
    font-size: 13px;
}
.font-size-lg *:not([class^="font-size-"]), .font-size-lg{
    font-size: 20px;
}
.font-size-md *:not([class^="font-size-"]), .font-size-md{
    font-size: 1.25rem !important;
}
.bg-white{
    background: #fff !important;
}

/* Snack Bar Start */
.snackBar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 10px;
    bottom: 40px;
    font-size: 17px;
}

.snackBar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* Snack Bar End */

.card-body .table thead{
    background: rgba(0,0,0,0.1);
}

.select2-reset{
    position: absolute;
    top: 13px;
    right: 30px;
    font-size: 10px;
    cursor: pointer;
    color: #6c757d;
    z-index:10;
}
.select2-reset.ajax{
    right: 13px;
}
